body {
  font-size: 16px;
  color: #FFFFFF;
  font-family: sans-serif;
}
/* start navbar */

.navbar {
  display: flex;
  position: relative;
  width: 100%;
  height: 3.875rem;
  background-color: #000000;
}

.navbar-nav ul {
    width: 75%;
    margin-right: 3.4375rem;
  list-style: none;
  text-decoration: none;
    font-color: #ffffff;
}
.logo{
  top: 20px;
  margin-left: 3.6875rem;
  height: 50px;
  width: 150px;
  margin-right: auto;
  float: left;
}
.navbar-nav a {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: bold;

}
.navbar-nav li {
  display: inline;
  padding: 15px;
}

/*FIRST Container*/
.container-main {
  background-image: url('/Users/MikeyThomas/Desktop/Projects/Capstone PYT Dance Studio/Resources/dancers-photo.png');
  background-position: center;
}
.title-head {
  margin: auto;
  text-align: center;
  align-items: center;
}
.title-head h1 {
  padding-top: 9.4375rem;
  padding-bottom: 2.6875rem;
  width: 45rem;
  font-size: 3.125rem;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  margin: auto;
}
.title-head p {
  margin: auto;
  width: 45rem;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-bottom: 5rem;
}
.title-head a {
  padding: 1.25rem 2.125rem;
  border-radius: 2px;
  background-color: #f5a623;
  font-family: sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
.main-btn {
  padding-bottom: 3.125rem;
}
/*SECOND CONTAINER*/
.container-two {
  display: flex;
  background-image: url('/Users/MikeyThomas/Desktop/Projects/Capstone PYT Dance Studio/Resources/graffiti-photo.png');
  height: 31.25rem;
}
.two-info {
  padding: 0 2rem;
  margin-top: 10rem;
  align-items: baseline;
  background-color: rgba(120, 73, 225, 0.9);
  width: 25rem;
  margin-left: auto;
}
.two-info h1 {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2;
}
.two-info p {
  font-size: 1.125rem;
  line-height: 1.4;
}
.two-info a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
/* THIRD CONTAINER */
.container-three {
  display: flex;
  height: 31.25rem;
  background-image: url('/Users/MikeyThomas/Desktop/Projects/Capstone PYT Dance Studio/Resources/fire-photo.png');
}
.three-info {
  padding: 0 2rem;
  background-color: rgba(173, 74, 226, 0.9);
  height: 20rem;
  width: 25rem;
  margin-left: auto;
  align-items: baseline;
  margin-top: 11.25rem;
}
.three-info h1 {
font-size: 2.25rem;
font-weight: bold;
line-height: 1.2;
}

.three-info p {
  font-size: 1.125rem;
  line-height: 1.4;
}
.three-info a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
/*CONTAINER FOUR*/
.container-four {
  display: flex;
  height: 31.25rem;
  background-image:url('/Users/MikeyThomas/Desktop/Projects/Capstone PYT Dance Studio/Resources/jump-photo.png');
}
.four-info {
  padding: 0 2rem;
  background-color: rgba(120, 73, 225, 0.9);
  height: 24rem;
  width: 25rem;
  margin-left: auto;
  align-items: baseline;
  margin-top: 7.2rem;
}
.four-info h1 {

  padding-botton: 1.25rem;
font-size: 2.25rem;
font-weight: bold;
line-height: 1.2;
}

.four-info p {
  font-size: 1.125rem;
  line-height: 1.4;
}
.four-info a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
/*begin FOOTER */
.footer {
  width: 100%;
  height: 18.125rem;
  background-image: url('/Users/MikeyThomas/Desktop/Projects/Capstone PYT Dance Studio/Resources/party-photo.png');
}
.footer div {
  display: inline-block;
}
.footer-bar {
  display: flex;
  display: inline-block;
  max-height: 5rem;
  width: 100%;
}
.social {
  flex-wrap: nowrap;
  margin-left: 25%;
  width: 9.375rem;
  position: relative;
}
.social i {
  align-items: center;
  padding: 0px 10px;
}
.contact {
  margin: auto;
  float: right;
  margin-bottom: 10px;
  width: 300px;

}
.contact a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
.footer-end {
  width: 100%;
  height: 15rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);

}
.footer-end p {
  text-align: center;
  line-height: 2;
  width: 700px;
  margin: auto;
  font-size: .875rem;
  letter-spacing: 0.7px;
  margin-top: 5rem;
}
@media only screen and (max-width: 768px) {
  .title-head h1, p {width: 31.25rem;}

  .container-main, .container-two, .container-three, .container-four {background-repeat: no-repeat; background-position: center;}
  .two-info, .three-info, .four-info {width: 100%; margin-top: 19rem; font-size: 1rem; line-height: 1.5; padding-right: 3.475rem;
  height: 12.9rem; position: relative; padding-top: 0px;}
  body p {font-size: 1rem;}
  .footer {flex-wrap: nowrap; max-height: 11.25rem;}
  .footer .logo {display: none;}
  .contact p {display: none;}
  .footer {margin-top: auto;}
  .footer p {width: 20rem; flex-wrap: wrap; margin-top: 1.875rem;}
  .footer-bar {max-height: 2.5rem; align-items: center;}
  .social {margin: 0px 40%;}
  .footer-end {max-height: 8.75rem;}
@media only screen and (max-width: 480px) {
  .logo {float: left; position: relative;}
  .navbar {max-height: 2.5rem; width: 100%;}
  .navbar
  .navbar-nav a {font-size: .75rem; position: relative;}
  .title-head h1 {width: 18.5rem; font-size: 1.875rem; padding-top: 7.125rem; padding-bottom: 1.625rem;}
  .title-head p {font-size: 1rem; line-height: 1.6; padding-bottom: 3.875rem; max-width: 250px;}
  .two-info, .three-info {max-width: 480px; height: 20rem; align-items: baseline;}
  .two-info, .three-info, .four-info h1 {font-size: 1.25rem; line-height: 1.2;}
  .two-info, .three-info, .four-info a {font-size: 1rem;}
  .two-info, .three-info, .four-info p {margin: auto 1.25rem;}
}



}
